body {
  font-family: Times New Roman, serif;
  background: #fcd2d2;
  display: flex;
  justify-content: center;
  padding: 30px;
}

.container {
  background: #fff;
  padding: 25px 30px;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  max-width: 400px;
  width: 100%;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

label {
  font-weight: bold;
  display: block;
  margin-top: 10px;
}

input, select {
  width: 100%;
  padding: 10px;
  margin-top: 6px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
}

button[type="submit"] {
  background: #3f72f4;
  color: white;
  padding: 10px;
  width: 100%;
  margin-top: 15px;
  font-size: 17px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background: #2d5fd1;
}

.password-container {
  position: relative;
}




input[type="password"] {
  padding-right: 100px;
}

.checkbox {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.checkbox input {
  margin-right: 10px;
}

#message {
  text-align: center;
  color: green;
  font-weight: bold;
  margin-top: 10px;
}

input:invalid:focus {
  border: 2px solid red;
}

.strength {
  font-size: 14px;
  color: #333;
  margin-top: 3px;
}

.input-group {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 15px;
}

.input-group input {
  flex: 1;
  padding: 10px;
  font-size: 16px;
}

.toggle-btn {
  padding: 10px 12px;
  font-size: 14px;
  background-color: #4f7cff;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  white-space: nowrap;
}

.toggle-btn:hover {
  background-color: #3b5dd9;
}

input::-ms-reveal,
input::-ms-clear,
input::-webkit-credentials-auto-fill-button {
  display: none;
}

input[type="password"]::-webkit-inner-spin-button,
input[type="password"]::-webkit-contacts-auto-fill-button {
  display: none !important;
}